.preview-item {
    background-color: #ff9d3f;
    border-radius: 5px;
}

.ts-name-container {
    background-color: #ef6c00;
    border-radius: 5px;
    cursor: pointer;
}

.ts-name {
    font-size: 1.4em;
}